.gallerySection {
  width: 75%;
  margin: 0 auto;
}

.galleryList {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 85vh;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
