.goBackBtn {
  margin: 0 5% 0 0;
  padding: 0 10%;
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(213, 212, 212, 0.1);
  color: #fff;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.goBackBtn:hover {
  box-shadow: 0 0 8px 2px rgb(174, 174, 174);
}
