.visibleBtn {
  padding: 0;
  position: absolute;
  bottom: 2px;
  right: -23px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.visibleSvg {
  width: 100%;
  height: 100%;
}
