a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0 0 10px 0;
}

.contactTitle {
  color: #fff;
  margin: 0 0 5px 0;
  font-weight: 600;
}

.userContact {
  font-size: smaller;
  overflow: scroll;
  color: #fff;
  transition-duration: 0.2s;
}

.userContact:hover {
  transform: scale(1.1);
}
