.userDashboard {
  margin: 30px 0 0 0;
  width: 25%;
}

.userDashboardList {
  list-style: none;
  margin: 0;
}

.userDashboardList > li {
  margin: 0 0 20px 0;
  padding: 15px 20px;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
