.visibleBtn {
  padding: 0;
  position: absolute;
  bottom: 29.5%;
  right: 2%;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.visibleSvg {
  width: 100%;
  height: 100%;
}
