.userChannelsItem {
  width: 30px;
  height: 30px;
  transition-duration: 0.2s;
}
.channelLink {
  height: 100%;
  width: 100%;
  color: #fff;
  fill: #fff;
}

.userChannelsItem:hover {
  transform: scale(1.3);
}
