.modalContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  /* overflow: hidden; */
}

.closeBtn {
  position: absolute;
  right: 3%;
  top: 4%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgb(255, 255, 255, 50%);
  outline: none;
  border: none;
  transition-duration: 0.2s;
  z-index: 60;
}
.closeBtn:hover {
  background: rgb(255, 255, 255, 65%);
}

.closeBtnSvg {
  width: 100%;
  height: 100%;
}

.caruselItem {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
  transition-duration: 500ms;
}

.modalImg {
  display: block;
  max-height: 90%;
  overflow: hidden;
}
