.tabsList {
  padding: 20px 0 60px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  color: #fff;
  transition-duration: 0.2s;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(213, 212, 212, 0.1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tab:hover {
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
}

.tabText {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: larger;
  font-weight: 700;
}
.active {
  /* box-shadow: none; */
  box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.5);
}
