.header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.nav {
  margin: 0 0 0 auto;
  width: 20%;
  display: flex;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.logoText {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
