.userInfoTitleContainer {
  display: flex;
  align-items: center;
  border-bottom: 8px solid rgba(10, 184, 1, 0.2);
  margin: 0 0 20px 0;
}
.logoTitle {
  font-size: larger;
  margin: 0 10px 0 0;
}

.userInfoTitle {
  display: inline-block;
  margin: 0;
}

.infoList {
  padding: 0;
  margin: 0;
}
