.formLabel {
  display: block;
  margin: 0 0 20px 0;
}

.formLabelText {
  margin: 0 0 5px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.formInput {
  margin: 0 auto;
  padding: 5px 10px;
  display: block;
  height: 20px;
  width: 90%;
  color: #fff;
  transition-duration: 0.2s;
  font-size: medium;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  background: rgba(213, 212, 212, 0.1) !important;
  border: none;
  border-radius: 8px;
}

.formInput:focus {
  outline: none;
}
